.table td {
  border: 1px solid black;
  height: 5vw;
  width: 5vw;
  padding: 0;
  text-align: center;
  font-size: 4vw;
  cursor: pointer;
}

.table {
  border-collapse: collapse;
  margin: 1vw 0;
  
}
